.main{
  height: 100%;
  width: 100vw;
  padding-top: 2vmax;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: darkcyan;
  /* background-color: red; */
}

.image{
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  /* background-color: red; */
}

.selected{
  background-color: tomato;
  color: white;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 50%;

}

ul{
  display: flex;
  align-items: center;
  list-style: none;
 padding-top: 2vmax;
}

ul li{
  margin-right: 2vmax;
}

.next, .previous{
 display: flex;
 align-items: center;
 justify-content: center;
  background-color: black;
 height: 50px;
 width: 50px;
  border-radius: 50%;
}

.next a{
  font: 900 3rem "roboto";
  color: white;
  align-items: center;
  text-decoration: none;
}

.previous a{
  font: 900 3rem "roboto";
  color: white;
  align-items: center;
  text-decoration: none;
}